div(class="inventory")
  h2 {{ message }}
  ul(class="phones-list")
    li(ng-repeat="phone in phones")
      svg(version="1.1",xmlns="http://www.w3.org/2000/svg",xmlns:xlink="http://www.w3.org/1999/xlink",width="200px",height="300px"
        ng-click="refreshToken(phone)")
        rect(width="100%", height="100%", style="fill:#222; stroke:lightgray; stroke-width:5")
        text(x="15", y="100", fill="white", font-size="18") {{phone.name  + '(' + phone.id + ')'}}
        text(x="15", y="140", fill="white", font-size="14") {{phone.deviceName}}
        text(x="15", y="200", fill="white", font-size="14") {{'#' + phone.token}}
        text(x="15", y="230", fill="white", font-size="14") {{'Tasks: ' + phone.tasks.length}}
        polygon(points="160,0 200,0, 200, 40", style="fill:rgb(63,81,181); stroke:lightgray; stroke-width:3" ng-if="phone.status=='online'")
        //- polygon(points="160,0 200,0, 200, 40", style="fill:#8a1717; stroke:lightgray; stroke-width:3" ng-if="phone.status=='offline'")
    li(ng-repeat="phone in newPhones")
      svg(version="1.1",xmlns="http://www.w3.org/2000/svg",xmlns:xlink="http://www.w3.org/1999/xlink",width="200px",height="300px")
        rect(width="100%", height="100%", style="fill:#fff; stroke:lightgray; stroke-width:10; stroke-dasharray:10,5")
        foreignObject(width="100%", y="100", height="100%", )
          body(width="100%" xmlns="http://www.w3.org/1999/xhtml")
            md-content.md-padding(style="margin:0.5em")
              form
                md-input-container
                  label Phone Name
                  input(type="text" class="newphone-name form-control" ng-model="phone.name")
                div(layout="row" layout-align="space-around center")
                  md-button.md-raised.md-primary(type="submit" ng-click="submitPhone(phone)") Add
                  md-button.md-raised(ng-click="cancelPhone(phone)") Cancel
    li(class="new-phone")
      a(href="" ng-click="newPhone()")
        svg(version="1.1",xmlns="http://www.w3.org/2000/svg",xmlns:xlink="http://www.w3.org/1999/xlink",width="200px",height="300px")
          rect(width="100%", height="100%", style="fill:#fff; stroke:lightgray; stroke-width:10; stroke-dasharray:10,5")
          line(y1="150" y2="150" x1="70" x2="130" style="stroke:lightgray; stroke-width:10")
          line(y1="120" y2="180" x1="100" x2="100" style="stroke:lightgray; stroke-width:10")
