extends ./layout

block body
  div(id="wrapper")
    nav(class="navbar navbar-inverse navbar-fixed-top", role="navigation")
      div(class="navbar-header")
        a(class="navbar-brand", href="/") Phone Pipelines Integration Platform
      div(class="collapse navbar-collapse navbar-ex1-collapse")
        ul(class="nav navbar-nav side-nav")
          li(class="active")
            a(class="fa fa-fw fa-dashboard", href="#phones") Phones
          li
            a(class="fa fa-fw fa-dashboard", href="#tasks") Tasks
    div(id="page-wrapper")
      div(class="container-fluid" style="height:100%")
        h1 Welcome to Phone Pipelines Integration Platform
        div(class="inventory", ng-controller="PhonesController")
          h2 {{ message }}
          ul(class="phones-list")
            li(ng-repeat="phone in phones")
              svg(version="1.1",xmlns="http://www.w3.org/2000/svg",xmlns:xlink="http://www.w3.org/1999/xlink",width="200px",height="300px")
                rect(width="100%", height="100%", style="fill:#222; stroke:lightgray; stroke-width:5")
                text(x="15", y="100", fill="white", font-size="24") {{phone.name}}
                polygon(points="160,0 200,0, 200, 40", style="fill:green; stroke:lightgray; stroke-width:3" ng-if="phone.online")
                polygon(points="160,0 200,0, 200, 40", style="fill:red; stroke:lightgray; stroke-width:3" ng-if="!phone.online")
            li(ng-repeat="phone in newPhones")
              svg(version="1.1",xmlns="http://www.w3.org/2000/svg",xmlns:xlink="http://www.w3.org/1999/xlink",width="200px",height="300px")
                rect(width="100%", height="100%", style="fill:#fff; stroke:lightgray; stroke-width:10; stroke-dasharray:10,5")
                foreignObject(width="200px", y="100", height="300px", )
                  body(xmlns="http://www.w3.org/1999/xhtml")
                    form(class="newphone")
                      input(type="text" class="newphone-name form-control" placeholder="Give a name" ng-model="phone.name")
                      div(class="newphone-buttons")
                        button(type="submit" ng-click="submitPhone(phone)" class="btn btn-default") Add
                        button(ng-click="cancelPhone(phone)" class="btn btn-default") Cancel
            li(class="new-phone")
              a(href="" ng-click="newPhone()")
                svg(version="1.1",xmlns="http://www.w3.org/2000/svg",xmlns:xlink="http://www.w3.org/1999/xlink",width="200px",height="300px")
                  rect(width="100%", height="100%", style="fill:#fff; stroke:lightgray; stroke-width:10; stroke-dasharray:10,5")
                  line(y1="150" y2="150" x1="70" x2="130" style="stroke:lightgray; stroke-width:10")
                  line(y1="120" y2="180" x1="100" x2="100" style="stroke:lightgray; stroke-width:10")
